huggingface_hub
dotenv
datasets
matplotlib
numpy
pandas
seaborn
nltk
scikit-learn
wordcloud
plotly
textstat
datasets
huggingface-hub
python-dotenv
torch
transformers
scipy>=1.10.0
torchvision>=0.16.0
flash-attn==2.4.2
sentencepiece>=0.1.99
tokenizers>=0.15.0
tiktoken>=0.7.0
accelerate>=0.24.0
einops>=0.7.0
datasets>=2.17.0
bitsandbytes>=0.42.0    # 8-bit, 4-bit
timm>=0.9.12             # For SigLIP / ViT
Pillow>=10.0.0
opencv-python>=4.9.0.80
tensorboard>=2.14.0
wandb>=0.16.0
pyyaml>=6.0.1
tqdm>=4.66.0
